In [2]:
#Exercice 1

import pandas as pd
import numpy as np

############################ Création d'un tableau NumPy #################################################
# Créer un tableau NumPy avec dtype=object
data_numpy = np.array([
    [1 ,'Bleu', [1, 2], 1.1],
    [3 , 'Rouge', [3, 4], 2.2],
    [5 , 'Rose', [5, 6], 3.3],
    [7 , 'Gris', [7, 8], 4.4],
    [9, 'Noir', [9, 10], 5.5]
], dtype=object)

# Créer le DataFrame
df_numpy = pd.DataFrame(data_numpy, columns=[' ','couleur', 'liste', 'nombre'])

# Afficher le DataFrame
print("DataFrame à partir d'un tableau NumPy :")
print(df_numpy)
# Afficher les types de chaque colonne pour le DataFrame NumPy
print("\nTypes des colonnes (NumPy) :")
print(df_numpy.dtypes)
print("\nTypes de la première valeur de chaque colonne (NumPy) :")
print(df_numpy.iloc[0].apply(type))


############################ Création d'une serie pandas #################################################
# Créer des séries pour chaque colonne
vide = pd.Series([1 , 3 , 5 , 7 , 9])
couleur = pd.Series(['Bleu', 'Rouge', 'Rose', 'Gris', 'Noir'])
liste = pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
nombre = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])

# Créer le DataFrame
df_series = pd.DataFrame({'': vide, 'couleur': couleur, 'liste': liste, 'nombre': nombre})

# Afficher le DataFrame
print("\nDataFrame à partir de séries Pandas :")
print(df_series)

# Afficher les types de chaque colonne pour le DataFrame de séries
print("\nTypes des colonnes (Séries) :")
print(df_series.dtypes)
print("\nTypes de la première valeur de chaque colonne (Séries) :")
print(df_series.iloc[0].apply(type))

DataFrame à partir d'un tableau NumPy :
     couleur    liste nombre
0  1    Bleu   [1, 2]    1.1
1  3   Rouge   [3, 4]    2.2
2  5    Rose   [5, 6]    3.3
3  7    Gris   [7, 8]    4.4
4  9    Noir  [9, 10]    5.5

Types des colonnes (NumPy) :
           object
couleur    object
liste      object
nombre     object
dtype: object

Types de la première valeur de chaque colonne (NumPy) :
             <class 'int'>
couleur      <class 'str'>
liste       <class 'list'>
nombre     <class 'float'>
Name: 0, dtype: object

DataFrame à partir de séries Pandas :
     couleur    liste  nombre
0  1    Bleu   [1, 2]     1.1
1  3   Rouge   [3, 4]     2.2
2  5    Rose   [5, 6]     3.3
3  7    Gris   [7, 8]     4.4
4  9    Noir  [9, 10]     5.5

Types des colonnes (Séries) :
             int64
couleur     object
liste       object
nombre     float64
dtype: object

Types de la première valeur de chaque colonne (Séries) :
             <class 'numpy.int64'>
couleur              <class 'str'>
liste               <class 'list'>
nombre     <class 'numpy.float64'>
Name: 0, dtype: object

In [3]:
#Exercice 2
#Étape 1 : Charger les données

import pandas as pd

# Charger l'ensemble de données (remplacez 'your_dataset.csv' par le chemin de votre fichier)
df = pd.read_csv('https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt', sep=';', parse_dates=['Date'], dayfirst=True)

# Afficher les premières lignes pour vérifier le chargement
print(df.head())

/tmp/ipykernel_4660/3275652583.py:7: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt', sep=';', parse_dates=['Date'], dayfirst=True)

        Date      Time Global_active_power Global_reactive_power  Voltage  \
0 2006-12-16  17:24:00               4.216                 0.418  234.840
1 2006-12-16  17:25:00               5.360                 0.436  233.630
2 2006-12-16  17:26:00               5.374                 0.498  233.290
3 2006-12-16  17:27:00               5.388                 0.502  233.740
4 2006-12-16  17:28:00               3.666                 0.528  235.680

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

In [4]:
#Étape 2 : Supprimer les colonnes et définir l'index
# Supprimer les colonnes Time, Sub_metering_2 et Sub_metering_3
df = df.drop(columns=['Time', 'Sub_metering_2', 'Sub_metering_3'])

# Définir Date comme index
df.set_index('Date', inplace=True)

In [15]:
#Étape 3 : Créer la fonction update_types

def update_types(df):
    # Mettre à jour les types de colonnes
    #df['Date'] = pd.to_datetime(df['Date'])  # Uncomment if needed
    df['Global_active_power'] = pd.to_numeric(df['Global_active_power'], errors='coerce')
    df['Global_reactive_power'] = pd.to_numeric(df['Global_reactive_power'], errors='coerce')
    df['Voltage'] = pd.to_numeric(df['Voltage'], errors='coerce')
    df['Global_intensity'] = pd.to_numeric(df['Global_intensity'], errors='coerce')
    df['Sub_metering_1'] = pd.to_numeric(df['Sub_metering_1'], errors='coerce')
    
    return df

# Appliquer la fonction
df = update_types(df)

In [17]:
#Étape 4 : Supprimer les lignes avec des valeurs manquantes
df.dropna(inplace=True)

In [18]:
#Étape 5 : Modifier Sub_metering_1

df['Sub_metering_1'] = (df['Sub_metering_1'] + 1) * 0.06

In [19]:
print(df.head())

            Global_active_power  Global_reactive_power  Voltage  \
Date
2006-12-16                4.216                  0.418   234.84
2006-12-16                5.360                  0.436   233.63
2006-12-16                5.374                  0.498   233.29
2006-12-16                5.388                  0.502   233.74
2006-12-16                3.666                  0.528   235.68

            Global_intensity  Sub_metering_1
Date
2006-12-16              18.4            0.06
2006-12-16              23.0            0.06
2006-12-16              23.0            0.06
2006-12-16              23.0            0.06
2006-12-16              15.8            0.06

In [21]:
#Étape 6 : Sélectionner les lignes avec des critères spécifiques
filtered_df = df[(df.index >= '2008-12-27') & (df['Voltage'] >= 242)]
filtered_df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1
Date,,,,,
2008-12-27,0.996,0.066,244.81,4.0,0.06
2008-12-27,1.076,0.162,244.78,4.4,0.06
2008-12-27,1.064,0.172,244.74,4.4,0.06
2008-12-27,1.070,0.174,245.28,4.4,0.06
2008-12-27,0.804,0.184,246.30,3.4,0.06
...,...,...,...,...,...
2010-11-26,0.522,0.214,242.91,2.2,0.06
2010-11-26,0.518,0.214,242.55,2.2,0.06
2010-11-26,0.514,0.212,242.15,2.2,0.06
2010-11-26,0.514,0.218,242.57,2.2,0.06
2010-11-26,0.704,0.146,242.18,2.8,0.06

In [22]:
#Étape 7 : Imprimer la 88888ème ligne
print(df.iloc[88887])

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

In [23]:
#Étape 8 : Trouver la date avec le Global_active_power maximal
max_power_date = df['Global_active_power'].idxmax()
print(f"La date avec le Global_active_power maximal est : {max_power_date}")

La date avec le Global_active_power maximal est : 2009-02-22 00:00:00

In [24]:
#Étape 9 : Trier les trois premières colonnes

# Trier par ordre croissant selon la colonne 'valeurs'
#df_sorted_asc = df.sort_values(by='valeurs', ascending=True)
sorted_df = df[['Global_active_power', 'Voltage', 'Sub_metering_1']].sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True])
print(sorted_df.head())

            Global_active_power  Voltage  Sub_metering_1
Date
2009-02-22               11.122   229.78            2.16
2007-03-04               10.670   230.20            2.28
2007-03-04               10.650   229.97            2.22
2009-02-22               10.536   230.24            1.44
2008-11-30               10.348   231.60            2.22

In [25]:
#Étape 10 : Calculer la moyenne journalière de Global_active_power

daily_avg_power = df['Global_active_power'].resample('D').mean()
print(daily_avg_power)

Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64

In [26]:
#Exercice3

#Étape 1 : Charger les données

import pandas as pd

# Charger l'ensemble de données (remplacez 'your_dataset.csv' par le chemin de votre fichier)
df = pd.read_csv('Ecommerce_purchases.txt', sep=',',  dayfirst=True)

# Afficher les premières lignes pour vérifier le chargement
print(df.head())

                                             Address    Lot AM or PM  \
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                   Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3              7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM

                                        Browser Info  \
0  Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1  Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4  Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...

                           Company       Credit Card CC Exp Date  \
0                  Martinez-Herman  6011929061123406       02/20
1  Fletcher, Richards and Whitaker  3337758169645356       11/18
2       Simpson, Williams and Pham      675957666125       08/19
3  Williams, Marshall and Buchanan  6011578504430710       02/24
4        Brown, Watson and Andrews  6011456623207998       10/25

   CC Security Code                  CC Provider  \
0               900                 JCB 16 digit
1               561                   Mastercard
2               699                 JCB 16 digit
3               384                     Discover
4               678  Diners Club / Carte Blanche

                            Email                                     Job  \
0               pdunlap@yahoo.com  Scientist, product/process development
1              anthony41@reed.com                       Drilling engineer
2  amymiller@morales-harrison.com                Customer service manager
3     brent16@olson-robinson.info                       Drilling engineer
4     christopherwright@gmail.com                             Fine artist

        IP Address Language  Purchase Price
0  149.146.147.205       el           98.14
1     15.160.41.51       fr           70.73
2   132.207.160.22       de            0.95
3     30.250.74.19       es           78.04
4     24.140.33.94       es           77.82

In [27]:
#2. Combien y a-t-il de lignes et de colonnes ?
print("Nombre de lignes et de colonnes :", df.shape)

Nombre de lignes et de colonnes : (10000, 14)

In [28]:
#3. Quel est le prix d'achat moyen ?
prix_moyen = df['Purchase Price'].mean()
print("Prix d'achat moyen :", prix_moyen)

Prix d'achat moyen : 50.347302

In [29]:
#4. Quels étaient les prix d’achat les plus élevés et les plus bas ?
prix_max = df['Purchase Price'].max()
prix_min = df['Purchase Price'].min()
print("Prix d'achat le plus élevé :", prix_max)
print("Prix d'achat le plus bas :", prix_min)

Prix d'achat le plus élevé : 99.99
Prix d'achat le plus bas : 0.0

In [30]:
#5. Combien de personnes ont l’anglais 'en' comme langue de choix sur le site Web ?
count_english = df[df['Language'] == 'en'].shape[0]
print("Nombre de personnes ayant l'anglais comme langue de choix :", count_english)

Nombre de personnes ayant l'anglais comme langue de choix : 1098

In [31]:
#6. Combien de personnes ont le titre de poste de "Lawyer" ?
count_lawyer = df[df['Job'] == 'Lawyer'].shape[0]
print("Nombre de personnes ayant le titre de poste de Lawyer :", count_lawyer)

Nombre de personnes ayant le titre de poste de Lawyer : 30

In [32]:
#7. Combien de personnes ont effectué l'achat pendant AM et combien pendant PM ?
count_am = df[df['AM or PM'] == 'AM'].shape[0]
count_pm = df[df['AM or PM'] == 'PM'].shape[0]
print("Nombre de personnes ayant effectué un achat pendant AM :", count_am)
print("Nombre de personnes ayant effectué un achat pendant PM :", count_pm)

Nombre de personnes ayant effectué un achat pendant AM : 4932
Nombre de personnes ayant effectué un achat pendant PM : 5068

In [33]:
#8. Quels sont les 5 titres de poste les plus courants ?

top_jobs = df['Job'].value_counts().head(5)
print("Cinq titres de poste les plus courants :\n", top_jobs)

Cinq titres de poste les plus courants :
 Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [34]:
#9. Quelqu'un a effectué un achat provenant du lot : "90 WT", quel était le prix d'achat de cette transaction ?

prix_90_WT = df[df['Lot'] == '90 WT']['Purchase Price']
print("Prix d'achat pour le lot '90 WT' :", prix_90_WT)

Prix d'achat pour le lot '90 WT' : 513    75.1
Name: Purchase Price, dtype: float64

In [35]:
#10. Quelle est l'adresse e-mail de la personne avec le numéro de carte de crédit suivant : 4926535242672853 ?

email_credit_card = df[df['Credit Card'] == 4926535242672853]['Email']
print("Adresse e-mail de la personne avec ce numéro de carte de crédit :", email_credit_card)

Adresse e-mail de la personne avec ce numéro de carte de crédit : 1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [36]:
#11. Combien de personnes ont American Express comme fournisseur de carte de crédit et ont effectué un achat supérieur à 95 $ ?

count_amex_over_95 = df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95)].shape[0]
print("Nombre de personnes avec American Express et un achat supérieur à 95 $ :", count_amex_over_95)

Nombre de personnes avec American Express et un achat supérieur à 95 $ : 39

In [37]:
#12. Combien de personnes possèdent une carte de crédit qui expire en 2025 ?

count_expire_2025 = df[df['CC Exp Date'] == 2025].shape[0]
print("Nombre de personnes avec une carte de crédit qui expire en 2025 :", count_expire_2025)

Nombre de personnes avec une carte de crédit qui expire en 2025 : 0

In [38]:
#13. Quels sont les 5 fournisseurs/hébergeurs de messagerie les plus populaires ?
email_providers = df['Email'].str.split('@').str[1].value_counts().head(5)
print("Cinq fournisseurs de messagerie les plus populaires :\n", email_providers)

Cinq fournisseurs de messagerie les plus populaires :
 Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [39]:
#Exercice 4
#Étape 1 : Charger les données

import pandas as pd

# Charger l'ensemble de données (remplacez 'your_dataset.csv' par le chemin de votre fichier)
df = pd.read_csv('iris.txt', sep=',',  dayfirst=True)

# Afficher les premières lignes pour vérifier le chargement
print(df.head())

  sepal_length sepal_width petal_length petal_width       flower
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0        -3.6         -1.4         0.2  Iris-setosa

In [ ]:
# Supprimer la colonne 'flower'
df.drop('flower', axis=1, inplace=True)

# Remplir les valeurs manquantes
df['sepal_length'].fillna(df['sepal_length'].mean(), inplace=True)
df['sepal_width'].fillna(df['sepal_width'].median(), inplace=True)
df[['petal_length', 'petal_width']] = df[['petal_length', 'petal_width']].fillna(0)

# Option pour utiliser la médiane avec fillna()
df.fillna(df.median(), inplace=True)

# Afficher le DataFrame mis à jour
print(df)